body {
  background-image: url('image/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.tab {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-flex;
    position: relative;
    width: 100%;
}
.tablinks {
  color: white;
  padding: auto;
  margin: 0 auto;
}
.tab button {
  background-color: transparent;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0 100px;
  transition: 0.3s;
  font-size: 20px;
}
.tab button:hover {
  background-color: rgb(35, 35, 35);
}
.tab button.active {
  background-color: rgb(35, 35, 35);
}
.tabcontent {
  color: white;
  display: none;
  padding: auto;
  height: 100%;
  border-right: 1px solid rgb(35, 35, 35);
}
.tab img {
  width: 60px;
  height: 60px;
  margin: 10px;
  display: inline;
}
#INTRODUCE img {
  border-radius: 7px;
  display: block;
  margin: auto;
  height: 100%;
}
#LOAD_MAP {
  color: white;
  background-repeat: no-repeat;
  width: 100%;
}
#LOAD_MAP img {
  width: 94%;
  margin-top: 15px;
}
.school {
  display: inline-block;
}
.myschool {
  position: relative;
}
.buton {
  width: 20%;
  height: 40%;
  border-radius: 50%;
  border: 2px solid white;
  background-color: rgb(120, 194, 255);
  position: absolute;
}
.buton:hover {
  background-color: rgb(56, 150, 227);
  border: 2px solid lightgray;
}
h2 {
  font-size: 20px;
  margin: 10px;
  
}
h4 {
  font-size: 15px;
  margin: auto;
}
a:link {
  text-decoration-line: none;
  color: white;
  font-size: 13px;
}
a:visited {
  text-decoration-line: none;
  color: white;
}
a:hover {
  text-decoration-line: none;
  color: gray;
}
